@model System.Collections.Generic.List<System.Collections.Generic.List<TieredEntity.Web.Models.NSJobRole>>

@{
    ViewData["Title"] = "NSJobRoles";
}

<h1>NSJobRoles</h1>

<table>
    <thead>
    <tr><th>Nested Sets on Job Roles</th></tr>
    </thead>
    <tbody>
    @foreach (var gen in Model)
    {
        <tr>
            @foreach (var item in gen)
            {
                <td>
                    <div>@Html.DisplayFor(modelItem => item.VertexId)</div>
                    <div>@Html.DisplayFor(modelItem => item.Title)</div>
                    @if (item != null)
                    {
                        <div>
                            [<span>@Html.DisplayFor(modelItem => item.Left)</span>,
                            <span>@Html.DisplayFor(modelItem => item.Right)</span>]
                        </div>
                    }
                </td>
            }
        </tr>
    }
    </tbody>
</table>
