@model System.Collections.Generic.List<System.Collections.Generic.List<TieredEntity.Web.Models.NSDutyPosition>>

@{
    ViewData["Title"] = "NSDutyPosititions";
}

<h1>NSDutyPositions</h1>
<h4>Nested Sets on Duty Positions</h4>

<table style="table-layout: fixed">
    <tbody>
        @foreach (var gen in Model)
        {
            <tr class="tier-row">
                @foreach (var item in gen)
                {
                    <td style="white-space: nowrap; width: 203px; overflow: auto" class="cell">
                        <span>@Html.DisplayFor(modelItem => item.VertexId)</span>
                        <span>@Html.DisplayFor(modelItem => item.Title)</span>
                        @if (item != null)
                        {
                            <div>
                                [<span>@Html.DisplayFor(modelItem => item.Left)</span>,
                                <span>@Html.DisplayFor(modelItem => item.Right)</span>]
                            </div>
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
