@model System.Collections.Generic.List<System.Collections.Generic.List<TieredEntity.Web.Models.ALDutyPosition>>

@{
    ViewData["Title"] = "ALDutyPositions";
}

<h1>ALDutyPositions</h1>
<h4>Adjacency List on Duty Positions</h4>

<table style="table-layout: fixed">
    <tbody>
        @foreach (var gen in Model)
        {
            <tr class="tier-row">
                @foreach (var item in gen)
                {
                    <td style="white-space: nowrap; width: 203px; overflow: auto" class="cell">
                        <span>@Html.DisplayFor(modelItem => item.VertexId)</span>&nbsp;
                        <span>@Html.DisplayFor(modelItem => item.Title)</span>&nbsp;
                        <span>@Html.DisplayFor(modelItem => item.NextId)</span>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>