@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <ul class="menu">
        <li class="menu">
            <a class="menu" asp-area="" asp-controller="ALDutyPosition" asp-action="List">ALDutyPositions</a>
        </li>
        <li class="menu">
            <a class="menu" asp-area="" asp-controller="NSDutyPosition" asp-action="List">NSDutyPositions</a>
        </li>
    </ul>
</div>
